@model IEnumerable<ForBlogs.Models.ArticleModel>

@{
    ViewBag.Title = "SearchByTags";
    <link type="text/css" rel="StyleSheet" href="@Url.Content("~/Content/StyleForBlogs.css")" />
    <link href="@Url.Content("~/Content/jquery.bxslider.css")" rel="stylesheet">
   
}

<h2>There are the next articles for your request</h2>
<hr />
@if (Model.Count() == 0)
{
    <div style="font-weight: bolder; font-size: x-large; text-align:left">
        Unfortunately, there are no article with such tags...
    </div>
}
else
{
    <table class="table_blog col-md-12" style="width:100%">

        <tbody>

            @{
                int counter = Model.Count() - 1;
            }
            @foreach (var article in Model.Reverse().ToList())
            {

                <tr>

                    <td width="100%" colspan="2">
                        <pre style="font-weight: bolder; font-size: x-large; text-align:center" class="title">@article.title</pre>
                        <div style="font-weight:200; padding-left:25px;padding-right:25px">
                            <p style="-moz-hyphens: auto;-webkit-hyphens: auto;-ms-hyphens: auto">@Html.Raw(article.text)</p>
                        </div>
                        </td>
                    </tr>

                if (article.ImagesPaths != null)
                {
                    if (article.ImagesPaths.Count() != 0)
                    {
                        <tr>
                            <td width="100%" colspan="2">
                                <ul class="bxslider">
                                    @foreach (var image in article.ImagesPaths)
                                    {
                                        <li style="position:center"><img style="display:inline-block; height: 400px; overflow: hidden" src="@Url.Content(image)" /></li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                }


                <tr>
                    <td>
                        @using (Html.BeginForm("SeeArticle", "Article"))
                        {
                            <input type="hidden" name="article_id" value="@article.ArticleId" />
                            <input type="hidden" name="article_user_id" value="@article.UserId" />
                            <input type="hidden" name="current_user_name" value="@User.Identity.Name" />
                                    <input type="submit" value="See more" class="btn btn-default" style="background: #222222; color: white; object-position: center">
                        }
                    </td>
                </tr>
                counter--;
            }

        </tbody>
    </table>
                }

<div style="text-decoration-color: black">
    @Html.ActionLink("Back to Blogs", "SeeAllBlogs", new { }, new { style = "color:black" })
</div>
@section Scripts{
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="@Url.Content("~/Scripts/jquery.bxslider.min.js")"></script>
<script>
    $(document).ready(function () {
        $('.bxslider').bxSlider({
            minSlides: 1,
            maxSlides: 1,
            slideMargin: 10
        });
    });
</script>
    }
